node_modules
.next
out
build
.data
data
prisma/data
*.db
*.db-journal
*.sqlite
*.sqlite-journal
.env
.env.*
*.local
Dockerfile
docker-compose.yml
README.md
.git
.gitignore
*.log
*.tsbuildinfo
.pnpm-store
.npmrc
next-env.d.ts
